<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}internal-nlog/internal-nlog.log">


  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>


  <!-- the targets to write to -->
  <variable name="logDirectory" value="C:/JobsLog/" />
  <targets>
    <!-- File Target for all log messages with basic details -->
    <!--<target xsi:type="File" name="allfile" fileName="Logs/ROW/MonitorService.${shortdate}.log"
        layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />-->

    <target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />





    <!-- All Log (RAW) -->
    <!--<target xsi:type="File"
            name="allfile"
            fileName="Logs/MonitorService.${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />-->


    <target xsi:type="File" name="jsonFile"
        fileName="${logDirectory}ICJOB.json"
        archiveEvery="Hour"
        archiveNumbering="Date"
        archiveDateFormat="yyyy-MM-dd_HH"
        archiveFileName="$${logDirectory}ICJOB.{#}.json"
        maxArchiveDays="30"
    encoding="utf-8">
      <layout xsi:type="JsonLayout">
        <attribute name="Date" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
        <attribute name="level" layout="${uppercase:${level}}"/>
        <attribute name="msg" layout="${message}" />
        <attribute name="logger" layout="${logger}"/>
        <attribute name="className" layout="${event-properties:item=ClassName}"/>
        <attribute name="methodName" layout="${event-properties:item=MethodName}"/>
        <attribute name="memberId" layout="${event-properties:item=MemberId}"/>
        <attribute name="sessionId" layout="${event-properties:item=SessionId}"/>
        <attribute name="merchantId" layout="${event-properties:item=MerchantId}"/>
        <attribute name="variables" encode="false" layout="${event-properties:item=Variables}" />
        <attribute name="stackTrace" layout="${event-properties:item=StackTrace}" />
        <attribute name="desc" layout="${event-properties:item=Desc}" />
        <attribute name="responseCode" layout="${event-properties:item=ResponseCode}" />
      </layout>
    </target>
  </targets>


  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <!--<logger name="*MonitorService*" minlevel="Trace" writeTo="allfile" />-->
    <!--<logger name="*MonitorService*" minlevel="Trace" writeTo="allfile" />-->
    <logger name="*" minlevel="Trace" writeTo="jsonFile,lifetimeConsole" />
    <!--<logger name="*" writeTo="error" minlevel="Error" />
    <logger name="*" writeTo="warn" level="Warn" />
    <logger name="*" writeTo="info" level="Info"/>-->
  </rules>
</nlog>